/*

Shacknews 2014 Fixes

Applies to: shacknews.com

Fixes misc. broken things across Shacknews

*/

/* Fixes wrapping in the titles in the semi-featured boxes */
.semi-featuredimg_wrapper h2 { line-height: 22px; }

/* Fixes the font used for post authors */
.postmeta .author { font-family: arial, helvetica, sans-serif; }

/* fix for featured images not being zoomed when over text over image */
.featuredimg_wrapper h2, .semi-featuredimg_wrapper h2 {
	pointer-events: none !important;
}

/*make the banner 'menu buttons' 'work'*/
div#banner .links a {margin-left: 15px; margin-right: 15px; } /* center text in div, instead of 30px on right as it currently is*/
div#banner .links li:hover { background: #662d91; } /*purple news*/
div#banner .links li+li:hover { background: #bd4601; } /*orange features*/
div#banner .links li+li+li:hover {background: #009933; } /*green podcasts*/
div#banner .links li+li+li+li:hover {background: #662d91; } /*purple chatty  (is there a better color?)*/
/* #0066FF; blue reviews (doesn't exist on the top currently, saving color for later)*/

/* Log In / me , inbox, setting, logout area  - slightly bigger text, and purple rollover*/
div#banner .login a {display: inline-block; font-size: 12px; padding: 0 2px; }
div#banner .login a:hover { background: #662d91; color: white; }
